@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  max-width: 980px;
  height: 728px;
  background-image: linear-gradient(
    to left bottom,
    #0014ff,
    #0078ff,
    #00adff,
    #00d8ff,
    #a9fcff
  );
}

#weatherGrid {
  height: fit-content;
}

#forecastList::-webkit-scrollbar {
  display: none;
}

#sidebar {
  height: 680px;
}
