@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  background-position: bottom;
  background-attachment: fixed;
  background-size: cover;
  width: 980px;
  height: 640px;
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-thumb {
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: #ffffff5f;
}

#forecastList::-webkit-scrollbar {
  display: none;
}

#forecastTitleLine {
  height: 0.5px;
  width: 2210px;
}
#dayForecastTitle {
  height: 1px;
}
