@tailwind base;
@tailwind components;
@tailwind utilities;

#sidebar {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.24);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  border: none;
}
#searchLocation::placeholder {
}
.card {
  background: rgba(255, 255, 255, 0.24);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.glass-effect {
  background: rgba(255, 255, 255, 0.24);
  transition: all 0.3s;
}
.glass-effect:hover {
  background: rgba(255, 255, 255, 0.34);
}
